<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.logistics">

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> <!-- <uses-permission android:name="android.permission.WRITE_SETTINGS" /> -->
    <uses-permission
            android:name="android.permission.READ_EXTERNAL_STORAGE"/> <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/app_icon"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/app_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".WarnActivity">
        </activity>
        <activity android:name=".VoiceActivity">
        </activity>
        <activity android:name=".OtherCheckActivity">
        </activity>
        <activity android:name=".OtherActivity">
        </activity>
        <activity android:name=".TaskActivity">
        </activity>
        <activity android:name=".SelectActivity2">
        </activity>
        <activity android:name=".SelectActivity">
        </activity>
        <activity android:name=".ManageActivity2">
        </activity>
        <activity android:name=".ManageActivity">
        </activity>
        <activity android:name=".AddActivity">
        </activity>
        <activity android:name=".OutActivity">
        </activity>
        <activity android:name=".InActivity">
        </activity>
        <activity android:name=".QueryActivity">
        </activity>
        <activity android:name=".MActivity">
        </activity>
        <activity android:name=".RegisterActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>